<div class="main">
  <nav-bar></nav-bar>
  <carousel></carousel>
  <div class="content">
    <event-categories></event-categories>
    <div class="spacer"></div>

    <h1>Najpopularniejsze wydarzenia</h1>
    <latest-events *ngIf="dataLoaded"></latest-events>
    <div class="spacer"></div>

    <h1 *ngIf="showPreferredEvents">Wybrane dla Ciebie</h1>
    <div class="local">
      <div class="align-center-row" style="display: flex; flex-wrap: wrap;">
        <preferred-events class="align-center-row flex-wrap" (arePreferredEventsLoaded)="onItemsAvailable($event)"></preferred-events>
      </div>
      <div class="align-center-column" *ngIf="showPreferredEvents">
        <button>Zobacz więcej</button>
      </div>
    </div>

    <h1>Najnowsze wydarzenia</h1>
    <div class="local">
      <div class="align-center-row" style="display: flex; flex-wrap: wrap;">
        <div *ngFor="let item of items$">
          <!-- Pass the specific event's tickets array using the event ID -->
          <event-card
            [id]="item.id"
            [title]="item.title"
            [image]="item.image"
            [text]="item.text"
            [tickets]="ticketsMap[item.id]"
          [date]="item.date"
          [location]="item.location"
          ></event-card>
        </div>
      </div>
      <div class="align-center-column">
        <button>Zobacz więcej</button>
      </div>
    </div>
    <!--Content end-->
  </div>
  <custom-footer></custom-footer>
</div>

<!-- Personalized Offers Modal -->
<div class="modal" tabindex="-1" role="dialog" id="personalizedOffersModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 style="margin: 0">Witaj w BiletSferze</h1>
        <a class="close" (click)="closeModal('personalizedOffersModal')" data-dismiss="modal" aria-label="Close">
          <i class="fa-solid fa-close icon"></i>
        </a>
      </div>
      <div class="modal-body">
        <p style="font-size: 18px;">Dziękujemy za dołączenie do naszej społeczności!
          Abyśmy mogli zapewnić Ci lepsze doświadczenie, zachęcamy do ustawienia swoich preferencji.
          Dzięki temu będziemy mogli dostosować oferty i wyszukiwania do Twoich potrzeb.
          Kliknij 'Ustaw preferencje' i ciesz się spersonalizowanymi treściami!</p>
      </div>
      <div class="modal-footer" style="display: flex; justify-content: space-between">
        <button type="button" class="btn btn-register" (click)="closeWithoutPreferences()">Na razie nie</button>
        <button type="button" class="btn btn-register" (click)="goToPreferences()">Ustaw preferencje</button>
      </div>
    </div>
  </div>
</div>

